<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </configSections>

    <memcached protocol="Binary">
        <servers>
            <add address="115.159.74.135" port="11211" />
        </servers>
        <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />

    </memcached>
</configuration>
